## VacationPy

In [90]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import sys
import pprint as pprint


# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

csvfile = "../WeatherPy/output_data/cities.csv"

data = pd.read_csv(csvfile)

data

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ushuaia,40,AR,1584412880,61,-54.80,-68.30,46.40,33.33
1,1,hermanus,44,ZA,1584412992,67,-34.42,19.23,66.00,1.01
2,2,avarua,100,CK,1584412992,94,-21.21,-159.78,80.60,12.75
3,3,cabo san lucas,20,MX,1584412719,56,22.89,-109.91,71.60,5.82
4,4,yumen,0,CN,1584412993,12,40.28,97.20,48.25,21.61
...,...,...,...,...,...,...,...,...,...,...
572,572,launceston,75,AU,1584413107,56,-41.45,147.17,72.00,16.11
573,573,abū zabad,23,SD,1584413107,16,12.35,29.25,68.99,11.30
574,574,yarmouth,20,US,1584413107,64,41.71,-70.23,35.01,5.82
575,575,alcalá de henares,75,ES,1584413108,93,40.48,-3.36,43.00,4.70
576,576,portland,20,US,1584412924,35,45.52,-122.68,57.20,14.99

In [91]:
locations = data[["Lat", "Lng"]]

humidity = data["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=120,
                                point_radius=3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [105]:

new_temp = data[(data["Max Temp"]>=70)&(data["Max Temp"]<=80)]

new_wind = new_temp[new_temp["Wind Speed"]<10]

hotel_df = new_wind[new_wind["Cloudiness"]==0]

hotel_df["Hotel Name"] = ""

hotel_df = hotel_df.reset_index()

del hotel_df["index"]

hotel_df

C:\Users\alexr\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,168,puerto escondido,0,MX,1584412837,80,15.85,-97.07,71.29,3.83,
1,209,chisec,0,GT,1584413032,84,15.82,-90.28,70.88,3.42,
2,352,acajutla,0,SV,1584413060,88,13.59,-89.83,75.00,3.00,
3,367,lāsalgaon,0,IN,1584413063,32,20.15,74.23,78.67,6.46,
4,508,lázaro cárdenas,0,MX,1584413091,85,17.96,-102.20,75.04,2.33,
5,512,goundam,0,ML,1584413092,10,16.41,-3.67,76.55,9.91,

In [106]:

params = {
    "keyword": "hotel",
    "radius": 10000,
    "types": "hotels",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()

AttributeError: 'dict' object has no attribute 'json'

In [9]:



figure_layout = {
    'width': '400px',
    'height': '300px',
    'border':'1px solid black',
    'padding':'1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

In [ ]:
markers = gmaps.marker_layer(coordinates)

fig.add_layer(markers)
fig