## VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import sys
import pprint as pprint


# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

csvfile = "../WeatherPy/output_data/cities.csv"

data = pd.read_csv(csvfile)

data

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ushuaia,40,AR,1584412880,61,-54.80,-68.30,46.40,33.33
1,1,hermanus,44,ZA,1584412992,67,-34.42,19.23,66.00,1.01
2,2,avarua,100,CK,1584412992,94,-21.21,-159.78,80.60,12.75
3,3,cabo san lucas,20,MX,1584412719,56,22.89,-109.91,71.60,5.82
4,4,yumen,0,CN,1584412993,12,40.28,97.20,48.25,21.61
...,...,...,...,...,...,...,...,...,...,...
572,572,launceston,75,AU,1584413107,56,-41.45,147.17,72.00,16.11
573,573,abū zabad,23,SD,1584413107,16,12.35,29.25,68.99,11.30
574,574,yarmouth,20,US,1584413107,64,41.71,-70.23,35.01,5.82
575,575,alcalá de henares,75,ES,1584413108,93,40.48,-3.36,43.00,4.70
576,576,portland,20,US,1584412924,35,45.52,-122.68,57.20,14.99

In [2]:
# Obtain locations from data and display in heatmap

locations = data[["Lat", "Lng"]]

humidity = data["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=120,
                                point_radius=3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [3]:
# Narrow down weather conditions to prime conditions.

new_temp = data[(data["Max Temp"]>=70)&(data["Max Temp"]<=80)]

new_wind = new_temp[new_temp["Wind Speed"]<10]

destinations = new_wind[new_wind["Cloudiness"]==0]

destinations

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
168,168,puerto escondido,0,MX,1584412837,80,15.85,-97.07,71.29,3.83
209,209,chisec,0,GT,1584413032,84,15.82,-90.28,70.88,3.42
352,352,acajutla,0,SV,1584413060,88,13.59,-89.83,75.00,3.00
367,367,lāsalgaon,0,IN,1584413063,32,20.15,74.23,78.67,6.46
508,508,lázaro cárdenas,0,MX,1584413091,85,17.96,-102.20,75.04,2.33
512,512,goundam,0,ML,1584413092,10,16.41,-3.67,76.55,9.91

In [50]:
# Loop through destinations and pass through nearbysearch api and append first hotel response to lists to create new dataframe.

hotel = []

city = []

country = destinations["Country"]

latitude = []

longitude = []

for index, row in destinations.iterrows():
    
    coordinates = f"{row['Lat']},{row['Lng']}"
    
    params = {
    "location": coordinates,
    "keyword": "hotel",
    "radius": 5000,
    "types": "hotels",
    "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params).json()

    if response['status']!= "ZERO_RESULTS":
        
        h = response['results'][0]['name']
        hotel.append(h)
        c = response['results'][0]['vicinity']
        city.append(c)
        clat = response['results'][0]['geometry']['location']['lat']
        latitude.append(clat)
        clng = response['results'][0]['geometry']['location']['lng']
        longitude.append(clng)
 
    #Print no hotels found within 5000 if not found.
    else:
        print(f'No hotels found within 5000m of {coordinates}')
        
hotels_df = pd.DataFrame(list(zip(hotel, city, country, latitude, longitude)),
            columns= ["Hotel", "City", "Country", "Lat", "Lng"])

No hotels found within 5000m of 20.15,74.23
No hotels found within 5000m of 16.41,-3.67

In [51]:
hotels_df

,Hotel,City,Country,Lat,Lng
0,Aldea del Bazar Hotel and Spa,"Boulevard Benito Juárez s/n, Lote 7 Fracc, Bac...",MX,15.867182,-97.086004
1,Hotel Estancia De La Virgen,Chisec,GT,15.817285,-90.291585
2,Villavela Hotel Boutique,"Avenida Miramar, Acajutla",SV,13.588713,-89.834214
3,Hotel de Casablanca,"Nicolás Bravo 475, Centro, Lázaro Cárdenas",IN,17.959975,-102.195130

In [63]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Lat", "Lng"]]


figure_layout = {
    'width': '400px',
    'height': '300px',
    'border':'1px solid black',
    'padding':'1px',
    'margin': '0 auto 0 auto'
}

weather_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info)
    


fig = gmaps.figure(layout=figure_layout)

In [65]:
markers = gmaps.marker_layer(locations)

fig.add_layer(weather_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…